body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}
.test{
    position:absolute;
    z-index: 100;
    background-color:#EBECF0;
    width: 800px;
    min-height: 320px;
    margin-left: 25%;
    margin-top: 8%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(218, 218, 218);
}
.test-btn{
    display: flex;
    justify-content: center;
    padding-top:50px;
}
.quest {
    text-align:center; 
    margin-top:50px;
    padding:5px;
}
.space-between{
    padding-top:20px;
}